{% extends "base_generic.html" %}

{% block content %}

<h1>Author List</h1>

<form action="{% url 'author_create' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Add new author">
</form> 

{% if author_list %}
    <ul>
       {% for author in author_list %}
            <li>
                <a href="{{ author.get_absolute_url}}">
                    {{ author }} ({{author.date_of_birth}} - {% if author.date_of_death %}
                            {{author.date_of_death}}
                        {% endif %})
                </a>
            </li>
        {% endfor %} 

    </ul>
    {% else %}
    <p>There are no authors available.</p>
{% endif %}

{% endblock %}